<!DOCTYPE html>
<html>
  <head>
    <title>Smdbook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>

   <%= render "share/navbar"%>   
   <%= render "share/watch" if notice %>   
  
    <%= yield %>
  </body>
</html>
